<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<footer class="center">
  <div class="measure">
    <small>
      <span class='fa fa-linkedin'>&nbsp&nbsp&nbsp</span>LinkedIn: <a href="https://www.linkedin.com/in/mike-liu/">Mike Liu</a><br>
      &lt;/&gt; My GitHub <a href="https://github.com/MikeLiuty">Mikeliuty</a>
    </small>
  </div>
</footer>
{% if site.enable_anchorjs %}<!-- AnchorJS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/anchor-js/3.0.0/anchor.min.js"></script>
<script>
    anchors.options.visible = 'always';
    anchors.add('article h2, article h3, article h4, article h5, article h6');
</script>{% endif %}
